* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #f39549;
    border: 1px solid black;
}

.frase-do-header {
    display: flex;
    justify-content:space-evenly;
    font-size:2vw;
}

.img-header {
    height: 15vh;
    width: 18vw;
    
}


button {
    margin-right: 2vh;
    height: 7vh;
    width: 12vh;
    background-color: rgb(241, 208, 147);
    border: 0.5pt solid
}

button:hover {
    background-color: #fabf77;
    cursor: pointer;
  }

/* MENU NAV */

a{
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #fabf77;
  }

.menu-superior {
    display: flex;
    justify-content:space-between;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgb(241, 208, 147);
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    background-color: rgb(240, 219, 181);
}

p{
    margin: 3vh;
}

.box-do-p{
    border: 1px solid black;
}

.card-da-main {
    background-color: #fabf77;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5vh;
    border: 1px solid black;
    box-shadow: 5px 5px 10px lightslategrey;
}

.imagem-carros {
    display: flex;
    justify-content: center;
    width: 45vh;
    height: 40vh;
    border: 1px solid black;
    margin: 5vh;
}

#card-carros {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



/* FOOTER */

footer{
    display: flex;
    justify-content:space-around;
    padding: 2vh;
    background-color: #f39549;
    color: black;
    border: 1px solid black;
    align-items: center;
    
}

.icones {
    margin: 7px;
    
}

.texto-do-footer {
    display:flex;
    align-items: center;
    justify-content: center;
    color: black;
    align-items: center;  
}

.img-do-footer {
    width: 10vh;
    height: 10vh;
}

#links-do-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:space-evenly;
    align-items: center;
    align-items: center;
    grid-column: 1/-1;
}

/* RESPONSIVIDADE */

@media screen and (min-device-width:320px) and (max-device-width:480px) {
    main {
        grid-template-columns: 1fr;
    }

    #card-carros {
        grid-template-columns: 1fr;
        margin: 0vw;
    }
}
