* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #f26257;
    border: 1px solid black;
}

.img-header {
    height: 100px;
    margin-left: 10px;
}

button {
    margin-right: 10px;
}